# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

/uploads
# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Eclipse
.project
.classpath
.c9/
.settings/
*.launch
*.prefs

# IDEA
*.iml
.idea/
out/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
# Ignore real config files
application.properties
application.yml

# But keep example/template files
!application-example.properties
!application-example.yml